.article-card__img {
  border-radius: 15px;
  height: 100%;
  width: 140px;
  object-fit: cover;
  grid-row: 1 / 4;
  padding: 2px;
}

.article-card-full-link:hover .article-card__img {
  opacity: 0.9;
}

.article-card-full-link:hover .article-card__title, 
.article-card-full-link:hover .article-card__desc-summary
{
  /* color: rgb(48, 48, 48); */
}

.article-card__title {
  font-size: 1.0rem;
  text-align: left;
  padding: 1px 10px;

  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.article-card__title:first-letter {
  text-transform: capitalize;
}

.article-card__desc-summary {
  font-size: 0.75rem;
  padding: 3px 2px 0px 10px;
  text-align: left;
  overflow: hidden;
  /* align-content: center; */
}

.article-card__desc-summary:first-letter {
  text-transform: capitalize;
}

.article-card__footer {
  /* border: 1px solid red; */
  padding: 4px 6px;
  display: grid;
  grid-template-columns: auto 1fr 1fr auto;
  align-items: center;
  gap: 10px;
}

.article-card__footer * {
  /* border: 1px solid yellow; */
}