.filter-bar {
  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: start;
  gap: 20px;
  padding: 0px 5px;
}

.dropdown__btn {
  text-transform: capitalize;
  font-size: 0.9rem;
  font-weight: bold;
  border-radius: 30px;
  padding: 10px 25px;
  border: none;
  position: relative;
  background-color: rgb(233, 233, 233);
  cursor: pointer;
  
  display: grid;
  grid-template-columns: auto auto;
  align-items: center;
}

.dropdown__btn:hover {
  background-color:rgb(240, 240, 240);
}

.dropdown-menu {
  background-color: rgb(201, 201, 201);
  position: absolute;
  border-radius: 20px;
  padding: 7px 7px;
  margin-top: 3px;
  min-width: 120px;
  gap: 7px;
  display: grid;
  transition: opacity 0.5s;
}

.dropdown-menu__link {
  text-transform: capitalize;
  border: 0;
  background-color: rgb(233, 233, 233);
  font-weight: bold;
  color: black;
  text-decoration: none;
  display: block;
  padding: 7px 20px;
  border-radius: 20px;
  cursor: pointer;  
  font-size: 0.8rem;
}

.dropdown-menu__link:hover {
  background-color: rgb(255, 255, 255);
}

.filter-bar__span {
  padding-right: 7px;
  font-size: 0.86rem;
  color: rgb(85, 85, 85);
}

@media (max-width: 600px) {
  .filter-bar {
    gap: 10px;
  }

  .dropdown__btn {
    padding: 8px 15px;
  }

  .filter-bar__span--order {
    display: none;
  }
}

@media (max-width: 405px) {
  .filter-bar {
    /* gap: 8px; */
    grid-template-columns: auto auto;
  }


  .filtar-bar__container--sort-by {
    display: none;
  }
}
