.article-card {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: auto 1fr auto;
  height: 160px;

  /* Only visible on hover */
  border-radius: 20px;
  padding: 3px 5px;
}

.article-card-full-link:hover .article-card{
  background-color: rgba(236, 236, 236, 0.363);
}