.article-content {
  /* border: 1px solid red; */
  text-align: left;
  display: grid;
  gap: 4px;
}

.article-bar {
  /* border: 1px solid yellow; */
  display: grid;
  grid-template-columns: auto auto auto auto;
  gap: 14px;
  justify-content: left;
}

.article-bar * {
  /* border: 1px solid black; */
}

.article-content__title {
  font-size: 1.4rem;
  line-height: 1.6;
}

.article-content__img {
  margin: 10px 0 8px 0;
  border-radius: 30px;
  height: 200px;
  width: 100%;
  object-fit: cover;
}

.article-content__body {
  font-size: 0.8rem;
  padding: 2px 3px;
  text-align: justify;
}

.article-comments-section {
  margin: 6px 0 0 0;
  display: grid;
  gap: 5px;
}