.article-content {
  text-align: left;
  display: grid;
  gap: 7px;
}

.article-bar {
  display: grid;
  grid-template-columns: auto auto auto auto;
  gap: 14px;
  justify-content: left;
}

.article-content__title {
  font-size: 1.4rem;
}

.article-content__img {
  margin: 10px 0 8px 0;
  border-radius: 30px;
  height: 200px;
  width: 100%;
  object-fit: cover;
}

.article-content__body {
  font-size: 0.9rem;
  padding: 5px 3px;
  text-align: justify;
}

.article-comments-section {
  margin: 10px 0 0 0;
  display: grid;
  gap: 5px;
}