.nav {
  list-style-type: none;
  display: flex;
  justify-content: center;
  font-size: 0.9rem;
  gap: 10px;
}

.nav__entry {
  text-transform: uppercase;
}

.menu-bar-button__logout {
  display: grid;
  grid-template-columns: auto auto;
  gap: 7px;
}

.menu-bar-button__username {
  color: rgb(83, 83, 83);  
}

@media (max-width: 600px) {
}