.search-bar {
  padding: 5px;
}

.search-bar__input {
  font-size: 1.0rem;
  border: 0;
  padding: 11px 15px 10px 46px;
  background-color: rgb(233, 233, 233);
  border-radius: 20px;
  width: 100%;

  background-image: url('/images/search_icon.svg');
  background-size: 22px;
  background-repeat: no-repeat;
  background-position-x: 15px;
  background-position-y: 8px;
}

@media (max-width: 600px) {
  .search-bar__input { 
    padding: 8px 12px 7px 39px;

    background-size: 18px;
    background-position-x: 13px;
    background-position-y: 7px;
  } 
}