* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

img {
  display: block;
}

a {
  text-decoration: none;
  color: inherit;
  overflow: hidden;
}

#root {
  width: 100%;
  text-align: center;
}

.main-body {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
}

.content-section {
  margin: 10px 0px;
  padding: 0 5px;
  width: 100%;
  max-width: 850px;
  font-size: 0.81rem;
  
  display: grid;
  grid-template-columns: auto;

  gap: 15px;
}

.button__element--gray {
  border: 0;
  text-align: center;
  font-weight: bold;
  border-radius: 30px;
  padding: 5px 19px;
  background-color: rgb(233, 233, 233);

  text-overflow: ellipsis;
  overflow: hidden;
  text-wrap: nowrap;
  white-space: nowrap;
}

.button__element--grid {
  display: grid;
  grid-template-columns: auto auto;
  align-items: center;
  gap: 10px;
}

.button__element--inner-label {
  font-size: 0.75rem;
  color: rgb(85, 85, 85);
}

.button__element--wide {
  min-width: 120px;
}

.button__category {
  text-transform: capitalize;
}

.button__votes {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 8px;
  align-items: center;
  justify-items: center;
  justify-content: center;
}

.button__vote_btn {
  height: 16px;
}

.button__vote_btn:hover {
  opacity: 0.7;
  cursor: pointer;
}

.no-articles-found {
  font-weight: bold;
  padding: 20px;
  font-size: 1.0rem;
  text-align: center;
}

.err-msg-default {
  font-weight: bold;
  padding: 20px;
  font-size: 1.0rem;
  text-align: center;
  color: rgb(194, 18, 18);
}

.err-msg-default-container {
  margin-top: 10px;
  display: grid;
  justify-items: center;
  align-content: center;

  grid-template-columns: auto;
  grid-template-rows: 180px auto;
}

.err-msg-default-img {
  height: 100%;
}

.default-button {
  border: 0;
  text-align: center;
  font-weight: bold;
  border-radius: 30px;
  padding: 9px 22px;
  background-color: rgb(233, 233, 233);

  text-overflow: ellipsis;
  overflow: hidden;
  text-wrap: nowrap;

  cursor: pointer;
}

.default-button:hover {
  background-color:rgb(240, 240, 240);
}

@media (max-width: 600px) {
  .content-section {
    gap: 5px;
  }

  .default-button {
    padding: 7px 17px;
  }

  .err-msg-default-container {
    grid-template-rows: 130px auto;
  }
}

@media (max-width: 560px) {
  .content-section {
    gap: 10px;
  }
}