* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#root {
  /* border: 1px solid red; */
  width: 100%;
  text-align: center;
}

.main-body {
  /* border: 1px solid green; */
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
}

.content-section {
  border: 1px solid black;
  margin: 10px 0px;
  padding: 0 10px;
  width: 100%;
  max-width: 840px;
  font-size: 0.81rem;
  
  display: grid;
  grid-template-columns: auto;

  gap: 17px;
}