.loading-section {
  display: grid;
  justify-content: center;
}

.loading-section--padding-normal {
  padding: 10px;
}

.loading-section--padding-tiny {
  padding: 4px;
}

.loading-icon--small {
  height: 70px;
}

.loading-icon--medium {
  height: 100px;
}

.loading-icon--tiny {
  height: 40px;
}

.loading-icon {
  animation-name: loading-animation;
  animation-duration: 1.4s;
  animation-direction: alternate-reverse;
  animation-iteration-count: infinite;
  z-index: -1;
}

@keyframes loading-animation {
  from {
    transform: scale(1.0);
    opacity: 1.0;
  }
  to {
    transform: scale(0.85);
    opacity: 0.5;
  }
}