.loading-section {
  /* border: 1px solid red; */
  display: grid;
  justify-content: center;
  padding: 10px;
}

.loading-icon--small {
  height: 70px;
}

.loading-icon--medium {
  height: 100px;
}

.loading-icon {
  /* border: 1px solid black; */
  /* height: 100px; */
  animation-name: loading-animation;
  animation-duration: 1.4s;
  animation-direction: alternate-reverse;
  animation-iteration-count: infinite;
  z-index: -1;
}

@keyframes loading-animation {
  from {
    /* background-color: red; */
    transform: scale(1.0);
    opacity: 1.0;
  }
  to {
    /* background-color: yellow; */
    transform: scale(0.85);
    opacity: 0.5;
  }
}