.comment-card {
  /* border: 1px solid red; */
  display: grid;
  gap: 5px;
  margin: 8px 0;
}

.comment-card * {
  /* border: 1px solid yellow; */
}

.comment-card__header {
  /* background-color: red; */
  display: grid;
  grid-template-columns: 35px max-content max-content max-content;
  align-items: center;
  gap: 10px;
}

.comment-card__avatar {
  /* border: 1px solid green; */
  width: 100%;
  /* background-color: yellow; */
  border-radius: 10px;
  object-fit: cover;
}

.comment-card__author {
  font-weight: bold;
}

.comment-card__divider {
  /* background-color: red; */
}

.comment-card__body {
  grid-column: 1 / 4;
  font-size: 0.8rem;
}

.comment-card__element--gray {
  color: rgb(88, 88, 88);
}

.comment-card__votes {
  display: grid;
  grid-template-columns: max-content max-content max-content;
  align-items: center;
  gap: 10px;
}