.fullscreen-shadow-overlay {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.705);
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  
  display: grid;
  grid-template-columns: 400px;
  justify-content: center;
  justify-items: center;
  align-content: center;
}

.error-overlay {
  border-radius: 30px;
  padding: 20px;
  background-color: white;
  
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 100px auto auto;
  justify-items: center;
  align-items: center;
  gap: 20px;
}

.error-overlay-message {
  font-size: 0.8rem;
  font-weight: bold;
}

.error-overlay-img {
  height: 100%;
}

@media (max-width: 520px) {
  .error-overlay {
    /* max-width: 280px; */
    grid-template-columns: auto;
  }

  .error-overlay-img {
    height: 80%;
  }

  .fullscreen-shadow-overlay {
    grid-template-columns: 250px;
  }
}